/* Definición estricta de la paleta cromática del proyecto */
:root {
    --verde: #c3d208;
    --violeta: #b8b1d8;
    --fucsia: #e71d84;
    --blanco: #FDFDF8;
    --negro: #181818;
}

/* Configuración del entorno del tablero */
body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Elimina cualquier desborde convencional de página */
    background-color: var(--negro);
    user-select: none; /* Evita interferencias visuales al arrastrar los nodos */
    -webkit-user-select: none;
}

/* Lienzo de renderizado de geometrías */
canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}